<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--<target xsi:type="AsyncWrapper" name="RavenLog">
      <target xsi:type="File" fileName="${basedir}/logs/Raven-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}"/>
    </target>-->
    <target xsi:type="File" name="RavenLog" fileName="${basedir}/logs/Raven-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message:whenEmpty=(no message)}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
    <target xsi:type="File" name="RunJSLog" fileName="${basedir}/logs/RunJS-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message:whenEmpty=(no message)}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="Raven.*" writeTo="RavenLog" />
    <logger name="RunJS.*" writeTo="RunJSLog" />
  </rules>
</nlog>